.Gametype {
    position: relative;
    display: block;
    width:30%;
    float: left;
    flex-direction: column;
    
}

.h5 {
    color:  #99daff;
    font-weight: bold;
    font-size: large;
    width: 51%;
    border: 1px solid black;
    border-radius: 0 15px 15px 0;
    background-color: rgba( 103, 193, 245, 0.2 );
}

.h5:hover{
    color: #d0eeff;
}